mixin menuItem(options)
  div(class='dropdown__option' data-id=options.id)
    div
      h3.dropdown__item=options.name
      span.dropdown__decription=options.descripton
    div
      button.dropdown__button-decrement -
      span.dropdown__counter 0
      button.dropdown__button-increment +
mixin dropDown()
  .dropdown
    span.dropdown__selection Сколько гостей
    span.dropdown__button-open
    .dropdown__menu.dropdown__menu-active
      +menuItem({id: 'adult', name: 'Взрослые', description: ''})
      +menuItem({id: 'minor', name: 'Дети', description: ''})
      +menuItem({id: 'infant', name: 'Младенцы', description: ''})