.dropdown
  position: relative
  display: flex
  flex-direction: column
  width: 22.2222222%
  height: 44px
  background-color: #fff
  border: 1px solid $darkShade25
  border-radius: 4px
  box-sizing: border-box
  padding: 10px 15px

  @import ./_active/active.sass

  @import ./__selection/selection.sass

  @import ./__button-open/button-open.sass

  @import ./list/list.sass
