
mixin dropDown()
  div(class='custom iqdropdown')
    p(class='iqdropdown-selection') Сколько гостей
    div(class='iqdropdown-menu')
      div(class='iqdropdown-menu-option' data-id='adult' data-defaultcount='0' data-mincount='0')
        div
          p(class='iqdropdown-item') Adult
          p(class='iqdropdown-description') 12+ years 
      div(class='iqdropdown-menu-option' data-id='minor' data-defaultcount='0' data-mincount='0')
        div
          p(class='iqdropdown-item') Children
          p(class='iqdropdown-description') 2 - 11 years 
      div(class='iqdropdown-menu-option' data-id='infant')
        div
          p(class='iqdropdown-item') Infants
          p(class='iqdropdown-description') 2 years
      button(class='iqdropdown-menu-close') Применить