include ../button-open/button-open.pug
mixin dropDown(options)
  .dropdown
    span.dropdown__selection Сколько гостей
    +buttonOpen()
    .list
      each value, index in options
        div(class='option' data-id=index)
          div.option-text
            h3.option-text__item=value
          div.option-button
            button.option-button__decrement -
            span.option-button__counter 0
            button.option-button__increment +
      div.list-button
        h3.list-button__clean Очистить
        h3.list-button__apply Применить