.iqdropdown
  width: 22.2222222%
  height: 44px
  background-color: #fff
  border: 1px solid $darkShade25
  border-radius: 4px
  box-sizing: border-box
  &__text
    padding:
      left: 15px
      top: 10px
      bottom: 10px

