include room-select/room-select
include auth-form/auth-form
include room-armor/room-armor

+roomSelect('Найдём номера под ваши пожелания')
+authForm(0)
+authForm(1)
+roomArmor({roomNum: '&#160;888&#160;', roomType: 'ЛЮКС'})
