mixin toggleButton(title, text)
  .toggle-buttons
    h3.toggle-buttons__title=title
    .toggle-buttons__item
      input#toggle-button.toggle-button(type="checkbox")
      label(for="toggle-button")
        span.toggle-buttons__text=text