include textfield/textfield.pug
include dropdown/dropdown.pug
include masked-textfield/masked-textfield.pug
include date-dropdown/date-dropdown.pug
include filter-date-dropdown/filter-date-dropdown.pug

.textfield-container
  h3 text filed
  +textField({type: 'text', class: 'form__text', placeholder: 'Email'})

.dropdown-container
  h3 dropdown
  +dropDown({adult: {name: 'Взрослые', count: "0"}, minor: {name: 'Дети', count: "0"}, infant: {name: 'Младенцы', count: "0"}}, {id: '1', name: 'guests-config', }, 'Сколько гостей')

.dropdown-container
  h3 dropdown
  +dropDown({rooms: {name: 'Спальни', count: "0"}, beds: {name: 'Кровати', count: "0"}, bathrooms: {name: 'Ванные комнаты', count: "0"}}, {id: '2', name: 'room-config'}, 'Удобства номера')

.datefield-container
  h3 masked text field 
  +maskedTextFiled('0', 'false', '')

.datedropdown-container
  h3 date dropdown 
  +dateDropdown('1', 'true', ',')

.filter-datedropdown-container
  h3 filter date dropdown 
  +filterDateDropdown('2', 'true', ' - ')