include textfield/textfield.pug
include dropdown/dropdown.pug
include masked-textfield/masked-textfield.pug
include date-dropdown/date-dropdown.pug
include filter-date-dropdown/filter-date-dropdown.pug
include subscription-textfiled/subscription-textfiled.pug
include subscription-textfiled/subscription-textfiled.pug
include expandable-checkbox-list/expandable-checkbox-list.pug
include checkbox-buttons/checkbox-buttons.pug
include bullet-list/bullet-list.pug
include toggle-buttons/toggle-buttons.pug

.textfield-container
  h3 text filed
  +textField({type: 'text', class: 'form__text', placeholder: 'Email'})

.dropdown-container
  h3 dropdown
  +dropDown({adult: {name: 'Взрослые', count: "0"}, minor: {name: 'Дети', count: "0"}, infant: {name: 'Младенцы', count: "0"}}, {id: '1', name: 'guests-config', }, 'Сколько гостей')

.dropdown-container
  h3 dropdown
  +dropDown({rooms: {name: 'Спальни', count: "2"}, beds: {name: 'Кровати', count: "2"}, bathrooms: {name: 'Ванные комнаты', count: "1"}}, {id: '2', name: 'room-config'}, 'Удобства номера')

.datefield-container
  h3 masked text field 
  +maskedTextFiled('0', 'false', '')

.datedropdown-container
  h3 date dropdown 
  +dateDropdown('1', 'true', ',')

.filter-datedropdown-container
  h3 filter date dropdown 
  +filterDateDropdown('2', 'true', ' - ')

.subscription-textfiled-container
  h3 subscription textfiled 
  +subscriptionTextfiled()

.expandable-checkbox-list-container
  +expandableCheckboxList('0', 'expandable checkbox list', {diner: 'Завтрак', desk: 'Письменный стол', feedingChair: 'Стул для кормления', crib: 'Кроватка', tv: 'Телевизор', shampoo: 'Шампунь'})

.checkbox-buttons-container
  +checkboxButtons('0', 'simple', {smoking: 'Можно курить', pets: 'Можно с питомцами', guests: 'Можно пригласить гостей (до&#160;10&#160;человек)'})
.checkbox-buttons-container
  +checkboxButtons('1', 'rich', {wideCorridor: {title: 'Широкий коридор', description: 'Ширина коридоров в&#160;номере не&#160;менее 91&#160;см.'}, invalidsHelper: {title: 'Помощник для инвалидов', description: 'На&#160;1&#160;этаже вас встретит специалист и&#160;проводит до&#160;номера.'}})

.bullet-list-container
  +bulletList('bullet list', {firstRule: 'Нельзя с питомцами', secondRule: 'Без вечеринок и мероприятий', thirdRule: 'Время прибытия&#160;&#8212; после 13:00, а&#160;выезд до&#160;12:00'})

.toggle-buttons-container
  +toggleButton('toggle', 'Получать спецпредложения')