mixin maskedTextFiled(id, range, separator)
  .masked-textfiled
    input(type='text' class='text-field masked-textfiled__input' placeholder = 'ДД.ММ.ГГГГ' readonly data-id=id data-range=range data-multiple-dates-separator=separator)