.button-open
  position: absolute
  right: 0
  top: 0
  width: 44px
  height: 44px
  cursor: pointer
  pointer-events: none

  &::before, &::after
    position: absolute
    content: ''
    top: 50%
    left: 50%
    width: 10px
    height: 2px
    background-color: #8F8FA0

  &::before
    left: calc(50% - 6px)
    transform: rotate(45deg)

  &::after
    left: calc(50%)
    transform: rotate(-45deg)