mixin subscriptionTextfiled()
  .subscription-textfiled
    input.subscription-textfiled__input.text-field(placeholder='Email')
    button.subscription-textfiled__button(type="submit")
      span.icon-arrow_forward