$icomoon-font-family: "Icons" !default
$icomoon-font-path: "../assets/fonts/MaterialIcons" !default
$icon-arrow_back: "\e900"
$icon-arrow_forward: "\e901"
$icon-favorite-black-18dp: "\e902"
$icon-favorite_border-black-18dp: "\e903"
$icon-star-black-18dp: "\e904"
$icon-star_border-black-18dp: "\e905"
$icon-whatshot-black-18dp: "\e906"
$icon-location_city-black-18dp: "\e907"
$icon-insert_emoticon-black-18dp: "\e908"

$darkShade100: #1F2041
$darkShade75: rgba(#1F2041, 0.75)
$darkShade50: rgba(#1F2041, 0.5)
$darkShade25: rgba(#1F2041, 0.25)
$darkShade5: rgba(#1F2041, 0.05)
$purple: #BC9CFF
$green: #6FCF97
