mixin filterDateDropdown(id, range, separator)
  .filter-date-dropdown
    input.filter-date-dropdown__input.text-field(placeholder='д М - д М' readonly data-id=id data-range=range data-multiple-dates-separator=separator)