mixin maskedTextFiled(id, range, separator)
  .masked-textfiled__containrer
    input(type='text' class='text-field calendar' placeholder = 'ДД.ММ.ГГГГ' readonly data-id=id data-range=range data-multiple-dates-separator=separator)