include ../button-open/button-open.pug
mixin expandableCheckboxList(id, text, options)
  .checkbox-list
    h3.checkbox-list__title=text
    +buttonOpen()
    .list(data-id=id)
      each value, index in options
        .list__item
          input(id=index type='checkbox' )
          label(for=index)=value
