mixin pagination()
  .pagination
    .page-numbers
      .page-numbers__item.page-numbers__item_active
        button
          span 1
      .page-numbers__item
        button
          span 2
      .page-numbers__item
        button
          span 3
      .page-numbers__item
        button
          span ...
      .page-numbers__item
        button
         span 15
      .page-numbers__item.page-numbers__forward
        button
          span.icon-arrow_forward
    .pagination__subtitle
      span 1 – 12 из 100+ вариантов аренды
