mixin dateDropdown(id, range, separator)
  .date-dropdown
    input.date-dropdown__first.text-field.date-dropdown__input(placeholder='ДД.ММ.ГГГГ' readonly data-id=id data-range=range data-multiple-dates-separator=separator)
    input.date-dropdown__second.text-field(placeholder='ДД.ММ.ГГГГ' readonly)