@font-face {
	font-family: 'Montserrat-r';
	src: url('../assets/fonts/Montserrat/Montserrat-Regular.eot');
	src:  url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'), url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), url('../assets/fonts/Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-r';
	src: url('../assets/fonts/Montserrat/Montserrat-Bold.eot');
	src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), url('../assets/fonts/Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
